Source: pomeranian
Section: misc
Priority: extra
Maintainer: Adam Stark <adstark1982@yahoo.com>
Build-Depends: debhelper (>= 8.0.0), libcanberra-gtk3-dev, libglib2.0-dev, libgtk-3-dev, libgstreamer0.10-dev, valac-0.16, libgee-dev
Standards-Version: 3.9.2
Homepage: http://llamadonica.github.com/pomeranian
Vcs-Git: git://github.com/llamadonica/pomeranian.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pomeranian.git;a=summary

Package: pomeranian
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A desktop pomodoro timer
 A simple timer that enables you to implement the pomodoro method of
 time management. Includes 2 interfaces.
